
@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Hi this is the Index Page of Home Controller.</h2>
    </div>
</body>
</html>
